* {
  margin: 0;
  padding: 0;
}
li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
header {
  background-color: black;
  width: 100%;
  height: 40px;
  /*justify-content: space-between;
  align-items: center;*/
}
.logo {
  cursor: pointer;
  background-color: white;
  width: 2cm; /*trial*/
  height: 40px;
  position: relative;
  float: left;
}
nav {
  background-color: none;
  width: 70%; /*change to 55*/
  height: 40px;
  position: relative;
  margin-left: 235px; /*check*/
}
/*search */
.search-box {
  position: relative;
  float: right;
  height: 40px;
  border-radius: 40px;
  padding: none;
  background-color: red;
}
.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: white;
}
.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.4s;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: none;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 8px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.active {
  color: aqua;
}
.nav__links li a:hover {
  color: aqua;
}
.nav__links li a {
  color: white;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the drop down */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: aqua;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#tt {
  background-color: bisque;
  height: 50px;
  width: 1120px;
  margin-left: 200px;
  text-align: center;
  color: #e84118;
}
#change {
  background-color: aquamarine;
  height: 350px;
  width: 1120px;
  margin-left: 200px;
}

.footer {
  position: relative; /**not sure about this*/
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
}
.footer li {
  display: inline-block;
  padding: 0px 10px;
}
